<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width'>
    <title>Cookie Policy | WSO2 Stream Processor</title>
    <link rel="stylesheet" type="text/css"
          href="{{@contextPath}}/public/app/js/libs/font-wso2_1.0.0/css/font-wso2.min.css" />
    <link rel="stylesheet" type="text/css" href="{{@contextPath}}/public/app/css/styles.css" />
    <link rel="shortcut icon" href="{{@contextPath}}/public/app/images/favicon.ico" type="image/x-icon" />

</head>
<body>
<div>
    <header>
        <a href="{{@contextPath}}/" style="text-decoration: none; color: #fff;">
            <img src="{{@contextPath}}/public/app/images/wso2-logo.svg" height="17" />
            <h1>WSO2 Stream Processor</h1>
        </a>
    </header>

    <section class="main-content">
        <h4 class="western" align="left"
            style="margin-top: 0.11in; margin-bottom: 0.11in; border: none; padding: 0in; line-height: 110%; orphans: 0; widows: 0">
            <a name="h.8g1kv7izh96l"></a>
            <font color="#337ab7"><font size="3" style="font-size: 13pt"><u><b><a
                    href="https://wso2.com/analytics">About</a><a
                    href="https://wso2.com/analytics">
            </a><a href="https://wso2.com/analytics">WSO</a><a
                    href="https://wso2.com/analytics">2
            </a><a href="https://wso2.com/analytics">Stream</a><a
                    href="https://wso2.com/analytics">
            </a><a href="https://wso2.com/analytics">Processor</a></b></u></font></font></h4>
        <p class="western" align="left"
           style="margin-bottom: 0.11in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
            <font color="#333333"><font size="2" style="font-size: 10pt">WSO2
                                                                         Stream Processor (referred to as “WSO2 SP
                                                                         ” within this
                                                                         policy) is an open source stream processing
                                                                         application that is based
                                                                         on open standards and
                                                                         specifications.</font></font></p>
        <h2 class="western" align="left"
            style="margin-top: 0.21in; margin-bottom: 0.11in; border: none; padding: 0in; line-height: 110%; orphans: 0; widows: 0">
            <a name="h.ls9wgvjwub3i"></a>
            <font color="#333333"><font size="6" style="font-size: 22pt"><b>Cookie
                                                                            Policy</b></font></font></h2>
        <p class="western" align="left"
           style="margin-bottom: 0.11in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
            <font color="#333333"><font size="2" style="font-size: 10pt">WSO2 SP
                                                                          uses cookies so that it can provide the
                                                                         best user experience
                                                                         for you and identify you for security purposes.
                                                                         If you disable
                                                                         cookies, some of the services may become
                                                                         inaccessible to you.</font></font></p>
        <h2 class="western" align="left"
            style="margin-top: 0.21in; margin-bottom: 0.11in; border: none; padding: 0in; line-height: 110%; orphans: 0; widows: 0">
            <a name="h.2cmh0sute7p7"></a>
            <font color="#333333"><font size="6" style="font-size: 22pt">How does
                                                                         WSO2 SP 4.2.0 process cookies?</font></font>
        </h2>
        <p class="western" align="left"
           style="margin-bottom: 0.11in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
            <font color="#333333"><font size="2" style="font-size: 10pt">WSO2 SP
                                                                         4.2.0 stores and retrieves information on your
                                                                         browser using cookies.
                                                                         Some cookies allow a user to log in to the
                                                                         system and maintain
                                                                         sessions. Some cookies are simply used to give
                                                                         you a more
                                                                         personalised web experience and these cookies
                                                                         cannot be used to
                                                                         personally identify you or your
                                                                         activities.</font></font></p>
        <p class="western" align="left"
           style="margin-bottom: 0.11in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
            <font color="#333333"><font size="2" style="font-size: 10pt">This
                                                                         cookie policy is part of
                                                                         the </font></font><font color="#337ab7"><font
                size="2" style="font-size: 10pt"><u><a
                href="{{@contextPath}}/privacy-policy">WSO</a><a
                href="{{@contextPath}}/privacy-policy">2
        </a><a href="{{@contextPath}}/privacy-policy">SP</a><a
                href="{{@contextPath}}/privacy-policy">
            4.2.0 </a><a href="{{@contextPath}}/privacy-policy">Privacy</a><a
                href="{{@contextPath}}/privacy-policy">
        </a><a href="{{@contextPath}}/privacy-policy">Policy</a><a
                href="{{@contextPath}}/privacy-policy">.</a></u></font></font></p>
        <h2 class="western" align="left"
            style="margin-top: 0.21in; margin-bottom: 0.11in; border: none; padding: 0in; line-height: 110%; orphans: 0; widows: 0">
            <a name="h.f3fz6uecnglc"></a>
            <font color="#333333"><font size="6" style="font-size: 22pt">What is
                                                                         a cookie?</font></font></h2>
        <p class="western" align="left"
           style="margin-bottom: 0.11in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
            <font color="#333333"><font size="2" style="font-size: 10pt">A
                                                                         browser cookie is a small piece of data that is
                                                                         stored on your device
                                                                         to help websites and mobile apps remember
                                                                         things about you. Other
                                                                         technologies, including web storage and
                                                                         identifiers associated with
                                                                         your device, may be used for similar purposes.
                                                                         In this policy, we use
                                                                         the term “cookies” to discuss all of these
                                                                         technologies.</font></font></p>
        <h2 class="western" align="left"
            style="margin-top: 0.21in; margin-bottom: 0.11in; border: none; padding: 0in; line-height: 110%; orphans: 0; widows: 0">
            <a name="h.zhks2mdz1gs3"></a>
            <font color="#333333"><font size="6" style="font-size: 22pt">What
                                                                         does WSO2 SP 4.2.0 use cookies
                                                                         for?</font></font></h2>
        <p class="western" align="left"
           style="margin-bottom: 0.11in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
            <font color="#333333"><font size="2" style="font-size: 10pt">Cookies
                                                                         are used in two main ways in WSO2 SP
                                                                         4.2.0.</font></font></p>
        <ol>
            <li />
            <p class="western" align="left"
               style="margin-bottom: 0in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
                <font color="#333333"><font size="2" style="font-size: 10pt">To
                                                                             identify you as a unique
                                                                             user.</font></font></p>
            <li />
            <p class="western" align="left"
               style="margin-bottom: 0in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
                <font color="#333333"><font size="2" style="font-size: 10pt">To
                                                                             provide a satisfying user
                                                                             experience.</font></font></p>
        </ol>
        <p class="western" align="left"
           style="margin-bottom: 0.11in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
            <font color="#333333"><font size="2" style="font-size: 10pt">WSO2 SP
                                                                         4.2.0 uses cookies for the following purposes
                                                                         listed below:</font></font></p>
        <h3 class="western" align="left"
            style="margin-top: 0.21in; margin-bottom: 0.11in; border: none; padding: 0in; line-height: 110%; orphans: 0; widows: 0">
            <a name="h.s5rhhkvlbb7f"></a>
            <font color="#333333"><font size="5" style="font-size: 18pt">Preferences</font></font></h3>
        <p class="western" align="left"
           style="margin-bottom: 0.11in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
            <font color="#333333"><font size="2" style="font-size: 10pt">WSO2 SP
                                                                         4.2.0 uses these cookies to remember your
                                                                         settings and preferences,
                                                                         and to auto-fill the form fields to make your
                                                                         interactions with the
                                                                         site easier.</font></font></p>
        <p class="western" align="left"
           style="margin-bottom: 0.11in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
            <font color="#333333"><font size="2" style="font-size: 10pt">These
                                                                         cookies cannot be used to personally identify
                                                                         you.</font></font></p>
        <h3 class="western" align="left"
            style="margin-top: 0.21in; margin-bottom: 0.11in; border: none; padding: 0in; line-height: 110%; orphans: 0; widows: 0">
            <a name="h.wuv3hkjnxvqe"></a>
            <font color="#333333"><font size="5" style="font-size: 18pt">Security</font></font></h3>
        <ul>
            <li />
            <p class="western" align="left"
               style="margin-bottom: 0in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
                <font color="#333333"><font size="2" style="font-size: 10pt">WSO2 SP
                                                                             4.2.0 uses selected cookies to identify and
                                                                             prevent security risks.
                                                                             For example, WSO2 SP 4.2.0 may use these
                                                                             cookies to store your
                                                                             session information in order to prevent
                                                                             others from changing your
                                                                             password without your username and
                                                                             password.</font></font><br />
                <br />

            </p>
            <li />
            <p class="western" align="left"
               style="margin-bottom: 0in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
                <font color="#333333"><font size="2" style="font-size: 10pt">WSO2 SP
                                                                             4.2.0 uses session cookies to maintain your
                                                                             active session.</font></font><br />
                <br />

            </p>
        </ul>
        <h3 class="western" align="left"
            style="margin-top: 0.21in; margin-bottom: 0.11in; border: none; padding: 0in; line-height: 110%; orphans: 0; widows: 0">
            <a name="h.c9ti46nqc1yb"></a>
            <font color="#333333"><font size="5" style="font-size: 18pt">Performance</font></font></h3>
        <p class="western" align="left"
           style="margin-bottom: 0.11in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
            <font color="#333333"><font size="2" style="font-size: 10pt">WSO2 SP
                                                                         4.2.0 may use cookies to allow “Remember Me”
                                                                         functionalities.</font></font></p>
        <p class="western" align="left"
           style="margin-bottom: 0.11in; border: none; padding: 0in; font-weight: normal; line-height: 115%; orphans: 2; widows: 2">
            <br />
            <br />

        </p>
        <h3 class="western" align="left"
            style="margin-top: 0.21in; margin-bottom: 0.11in; border: none; padding: 0in; line-height: 110%; orphans: 0; widows: 0">
            <a name="h.jjf2t4a6d1fu"></a>
            <font color="#333333"><font size="5" style="font-size: 18pt">Third
                                                                         party cookies</font></font></h3>
        <p class="western" align="left"
           style="margin-bottom: 0.11in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
            <font color="#333333"><font size="2" style="font-size: 10pt">Using
                                                                         WSO2 SP 4.2.0 may cause some third-party
                                                                         cookies to be set in your
                                                                         browser. WSO2 SP 4.2.0 has no control over how
                                                                         any of them operate.
                                                                         WSO2 strongly advises you to refer the
                                                                         respective cookie policy of
                                                                         such sites carefully as WSO2 has no knowledge
                                                                         or use on these
                                                                         cookies.</font></font></p>
        <h2 class="western" align="left"
            style="margin-top: 0.21in; margin-bottom: 0.11in; border: none; padding: 0in; line-height: 110%; orphans: 0; widows: 0">
            <a name="h.xqlxw7fo089z"></a>
            <font color="#333333"><font size="6" style="font-size: 22pt">What
                                                                         type of cookies does WSO2 SP 4.2.0 use?</font></font>
        </h2>
        <p class="western" align="left"
           style="margin-bottom: 0.11in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
            <font color="#333333"><font size="2" style="font-size: 10pt">WSO2 SP
                                                                         4.2.0 uses persistent cookies and session
                                                                         cookies. A persistent
                                                                         cookie helps WSO2 SP 4.2.0 to recognize you as
                                                                         an existing user so
                                                                         that it is easier to return to WSO2 or interact
                                                                         with WSO2 SP 4.2.0
                                                                         without signing in again. After you sign in, a
                                                                         persistent cookie
                                                                         stays in your browser and will be read by WSO2
                                                                         SP 4.2.0 when you
                                                                         return to WSO2 SP 4.2.0.</font></font></p>
        <p class="western" align="left"
           style="margin-bottom: 0.11in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
            <font color="#333333"><font size="2" style="font-size: 10pt">A
                                                                         session cookie is a cookie that is erased when
                                                                         the user closes the
                                                                         web browser. The session cookie is stored in
                                                                         temporary memory and is
                                                                         not retained after the browser is closed.
                                                                         Session cookies do not
                                                                         collect information from the user's
                                                                         computer.</font></font></p>
        <h2 class="western" align="left"
            style="margin-top: 0.21in; margin-bottom: 0.11in; border: none; padding: 0in; line-height: 110%; orphans: 0; widows: 0">
            <a name="h.9xx2q4w1ytf6"></a>
            <font color="#333333"><font size="6" style="font-size: 22pt">What are
                                                                         the cookies used?</font></font></h2>
        <p class="western" align="left"
           style="margin-bottom: 0in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
            The following are the main types of cookies used by WSO2 SP 4.2.0</p>
        <p class="western" align="left"
           style="margin-bottom: 0in; border: none; padding: 0in; font-weight: normal; line-height: 115%; orphans: 2; widows: 2">
            <br />

        </p>
        <ul>
            <li />
            <p class="western" align="left"
               style="margin-bottom: 0in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
                <b>Session User Cookie</b>: <font color="#333333"><span style="background: #ffffff">This
    is stored as long as a browser session exists. It contains the
    username of the user, SDID, its validity period and expiration time.</span></font></p>
            <li />
            <p class="western" align="left"
               style="margin-bottom: 0in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
                <font color="#333333"><b><span style="background: #ffffff">HID</span></b></font><font
                    color="#333333"><span style="background: #ffffff">:
    This stores the partial access token (HID) that is only accessible
    from HTTPS.</span></font></p>
            <li />
            <p class="western" align="left"
               style="margin-bottom: 0in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
                <font color="#333333"><b><span style="background: #ffffff">Refresh
    Token Cookie</span></b></font><font color="#333333"><span style="background: #ffffff">:
    This stores the refresh token.</span></font></p>
        </ul>
        <p class="western" align="left"
           style="margin-bottom: 0in; border: none; padding: 0in; font-weight: normal; line-height: 115%; orphans: 2; widows: 2">
            <br />

        </p>
        <p class="western" align="left"
           style="margin-bottom: 0in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
            <font color="#333333"><span style="background: #ffffff">Following
cookies are used:</span></font></p>
        <p class="western" align="left"
           style="margin-bottom: 0in; border: none; padding: 0in; font-weight: normal; line-height: 115%; orphans: 2; widows: 2">
            <br />

        </p>
        <table width="857" cellpadding="11" cellspacing="0">
            <col width="122">
            <col width="132">
            <col width="535">
            <tr valign="top">
                <td width="122" bgcolor="#ffffff"
                    style="border-top: 0.75pt solid #dddddd; border-bottom: none; border-left: 0.75pt solid #dddddd; border-right: 0.75pt solid #dddddd; padding-top: 0.08in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p class="western" align="left" style="border: none; padding: 0in; orphans: 2; widows: 2">
                        <b>Web application</b></p>
                </td>
                <td width="132" bgcolor="#ffffff"
                    style="border-top: 0.75pt solid #dddddd; border-bottom: none; border-left: 0.75pt solid #dddddd; border-right: 0.75pt solid #dddddd; padding-top: 0.08in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p class="western" align="left" style="border: none; padding: 0in; orphans: 2; widows: 2">
                        <b>Cookie Name</b></p>
                </td>
                <td width="535" bgcolor="#ffffff"
                    style="border-top: 0.75pt solid #dddddd; border-bottom: none; border-left: 0.75pt solid #dddddd; border-right: 0.75pt solid #dddddd; padding-top: 0.08in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p class="western" align="left"
                       style="border-top: none; border-bottom: none; border-left: none; padding: 0in; orphans: 2; widows: 2">
                        <b>Purpose</b></p>
                </td>
            </tr>
            <tr valign="top">
                <td width="122" bgcolor="#ffffff"
                    style="border-top: 0.75pt solid #dddddd; border-bottom: none; border-left: 0.75pt solid #dddddd; border-right: 0.75pt solid #dddddd; padding-top: 0.08in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p class="western" align="left" style="border: none; padding: 0in; orphans: 2; widows: 2">
                        Business Rules Manager</p>
                </td>
                <td width="132" bgcolor="#ffffff"
                    style="border-top: 0.75pt solid #dddddd; border-bottom: none; border-left: 0.75pt solid #dddddd; border-right: 0.75pt solid #dddddd; padding-top: 0.08in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p class="western" align="left" style="border: none; padding: 0in; orphans: 2; widows: 2">
                        BR_USER</p>
                </td>
                <td width="535" bgcolor="#ffffff"
                    style="border-top: 0.75pt solid #dddddd; border-bottom: none; border-left: 0.75pt solid #dddddd; border-right: 0.75pt solid #dddddd; padding-top: 0.08in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p class="western" align="left"
                       style="border-top: none; border-bottom: none; border-left: none; padding: 0in; orphans: 2; widows: 2">
                        Maintains the browser session of the Business Rules Manager.</p>
                </td>
            </tr>
            <tr valign="top">
                <td width="122" bgcolor="#ffffff"
                    style="border-top: 0.75pt solid #dddddd; border-bottom: none; border-left: 0.75pt solid #dddddd; border-right: 0.75pt solid #dddddd; padding-top: 0.08in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p class="western" align="left"
                       style="border: none; padding: 0in; font-weight: normal; orphans: 2; widows: 2">
                        <br />

                    </p>
                </td>
                <td width="132" bgcolor="#ffffff"
                    style="border-top: 0.75pt solid #dddddd; border-bottom: none; border-left: 0.75pt solid #dddddd; border-right: 0.75pt solid #dddddd; padding-top: 0.08in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p class="western" align="left" style="border: none; padding: 0in; orphans: 2; widows: 2">
                        HID</p>
                </td>
                <td width="535" bgcolor="#ffffff"
                    style="border-top: 0.75pt solid #dddddd; border-bottom: none; border-left: 0.75pt solid #dddddd; border-right: 0.75pt solid #dddddd; padding-top: 0.08in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p class="western" align="left"
                       style="border-top: none; border-bottom: none; border-left: none; padding: 0in; orphans: 2; widows: 2">
                        Stores a part of the access token for the session that is only accessible from
                        HTTPS.</p>
                </td>
            </tr>
            <tr valign="top">
                <td width="122" bgcolor="#ffffff"
                    style="border-top: 0.75pt solid #dddddd; border-bottom: none; border-left: 0.75pt solid #dddddd; border-right: 0.75pt solid #dddddd; padding-top: 0.08in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p class="western" align="left"
                       style="border: none; padding: 0in; font-weight: normal; orphans: 2; widows: 2">
                        <br />

                    </p>
                </td>
                <td width="132" bgcolor="#ffffff"
                    style="border-top: 0.75pt solid #dddddd; border-bottom: none; border-left: 0.75pt solid #dddddd; border-right: 0.75pt solid #dddddd; padding-top: 0.08in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p class="western" align="left" style="border: none; padding: 0in; orphans: 2; widows: 2">
                        RTK</p>
                </td>
                <td width="535" bgcolor="#ffffff"
                    style="border-top: 0.75pt solid #dddddd; border-bottom: none; border-left: 0.75pt solid #dddddd; border-right: 0.75pt solid #dddddd; padding-top: 0.08in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p class="western" align="left"
                       style="border-top: none; border-bottom: none; border-left: none; padding: 0in; orphans: 2; widows: 2">
                        Stores the refresh token for the session.</p>
                </td>
            </tr>
            <tr valign="top">
                <td width="122" bgcolor="#ffffff"
                    style="border-top: 0.75pt solid #dddddd; border-bottom: none; border-left: 0.75pt solid #dddddd; border-right: 0.75pt solid #dddddd; padding-top: 0.08in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p class="western" align="left" style="border: none; padding: 0in; orphans: 2; widows: 2">
                        Status Dashboard</p>
                </td>
                <td width="132" bgcolor="#ffffff"
                    style="border-top: 0.75pt solid #dddddd; border-bottom: none; border-left: 0.75pt solid #dddddd; border-right: 0.75pt solid #dddddd; padding-top: 0.08in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p class="western" align="left" style="border: none; padding: 0in; orphans: 2; widows: 2">
                        DASHBOARD_USER</p>
                </td>
                <td width="535" bgcolor="#ffffff"
                    style="border-top: 0.75pt solid #dddddd; border-bottom: none; border-left: 0.75pt solid #dddddd; border-right: 0.75pt solid #dddddd; padding-top: 0.08in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p class="western" align="left"
                       style="border-top: none; border-bottom: none; border-left: none; padding: 0in; orphans: 2; widows: 2">
                        Maintains the browser session of the Status Dashboard.</p>
                </td>
            </tr>
            <tr valign="top">
                <td width="122" bgcolor="#ffffff"
                    style="border-top: 0.75pt solid #dddddd; border-bottom: none; border-left: 0.75pt solid #dddddd; border-right: 0.75pt solid #dddddd; padding-top: 0.08in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p class="western" align="left"
                       style="border: none; padding: 0in; font-weight: normal; orphans: 2; widows: 2">
                        <br />

                    </p>
                </td>
                <td width="132" bgcolor="#ffffff"
                    style="border-top: 0.75pt solid #dddddd; border-bottom: none; border-left: 0.75pt solid #dddddd; border-right: 0.75pt solid #dddddd; padding-top: 0.08in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p class="western" align="left" style="border: none; padding: 0in; orphans: 2; widows: 2">
                        HID</p>
                </td>
                <td width="535" bgcolor="#ffffff"
                    style="border-top: 0.75pt solid #dddddd; border-bottom: none; border-left: 0.75pt solid #dddddd; border-right: 0.75pt solid #dddddd; padding-top: 0.08in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p class="western" align="left"
                       style="border-top: none; border-bottom: none; border-left: none; padding: 0in; orphans: 2; widows: 2">
                        Stores a part of the access token for the session that is only accessible from
                        HTTPS.</p>
                </td>
            </tr>
            <tr valign="top">
                <td width="122" bgcolor="#ffffff"
                    style="border-top: 0.75pt solid #dddddd; border-bottom: none; border-left: 0.75pt solid #dddddd; border-right: 0.75pt solid #dddddd; padding-top: 0.08in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p class="western" align="left"
                       style="border: none; padding: 0in; font-weight: normal; orphans: 2; widows: 2">
                        <br />

                    </p>
                </td>
                <td width="132" bgcolor="#ffffff"
                    style="border-top: 0.75pt solid #dddddd; border-bottom: none; border-left: 0.75pt solid #dddddd; border-right: 0.75pt solid #dddddd; padding-top: 0.08in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p class="western" align="left" style="border: none; padding: 0in; orphans: 2; widows: 2">
                        REFRESH_TOKEN</p>
                </td>
                <td width="535" bgcolor="#ffffff"
                    style="border-top: 0.75pt solid #dddddd; border-bottom: none; border-left: 0.75pt solid #dddddd; border-right: 0.75pt solid #dddddd; padding-top: 0.08in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p class="western" align="left"
                       style="border-top: none; border-bottom: none; border-left: none; padding: 0in; orphans: 2; widows: 2">
                        Stores the refresh token for the session.</p>
                </td>
            </tr>
            <tr valign="top">
                <td width="122" bgcolor="#ffffff"
                    style="border-top: 0.75pt solid #dddddd; border-bottom: none; border-left: 0.75pt solid #dddddd; border-right: 0.75pt solid #dddddd; padding-top: 0.08in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p class="western" align="left" style="border: none; padding: 0in; orphans: 2; widows: 2">
                        Dashboard Portal</p>
                </td>
                <td width="132" bgcolor="#ffffff"
                    style="border-top: 0.75pt solid #dddddd; border-bottom: none; border-left: 0.75pt solid #dddddd; border-right: 0.75pt solid #dddddd; padding-top: 0.08in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p class="western" align="left" style="border: none; padding: 0in; orphans: 2; widows: 2">
                        DASHBOARD_USER</p>
                </td>
                <td width="535" bgcolor="#ffffff"
                    style="border-top: 0.75pt solid #dddddd; border-bottom: none; border-left: 0.75pt solid #dddddd; border-right: 0.75pt solid #dddddd; padding-top: 0.08in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p class="western" align="left"
                       style="border-top: none; border-bottom: none; border-left: none; padding: 0in; orphans: 2; widows: 2">
                        Maintains the browser session of the Dashboard Portal.</p>
                </td>
            </tr>
            <tr valign="top">
                <td width="122" bgcolor="#ffffff"
                    style="border-top: 0.75pt solid #dddddd; border-bottom: none; border-left: 0.75pt solid #dddddd; border-right: 0.75pt solid #dddddd; padding-top: 0.08in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p class="western" align="left"
                       style="border: none; padding: 0in; font-weight: normal; orphans: 2; widows: 2">
                        <br />

                    </p>
                </td>
                <td width="132" bgcolor="#ffffff"
                    style="border-top: 0.75pt solid #dddddd; border-bottom: none; border-left: 0.75pt solid #dddddd; border-right: 0.75pt solid #dddddd; padding-top: 0.08in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p class="western" align="left" style="border: none; padding: 0in; orphans: 2; widows: 2">
                        HID</p>
                </td>
                <td width="535" bgcolor="#ffffff"
                    style="border-top: 0.75pt solid #dddddd; border-bottom: none; border-left: 0.75pt solid #dddddd; border-right: 0.75pt solid #dddddd; padding-top: 0.08in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p class="western" align="left"
                       style="border-top: none; border-bottom: none; border-left: none; padding: 0in; orphans: 2; widows: 2">
                        Stores a part of the access token for the session that is only accessible from
                        HTTPS.</p>
                </td>
            </tr>
            <tr valign="top">
                <td width="122" bgcolor="#ffffff"
                    style="border-top: 0.75pt solid #dddddd; border-bottom: 0.75pt solid #dddddd; border-left: 0.75pt solid #dddddd; border-right: 0.75pt solid #dddddd; padding-top: 0.08in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p class="western" align="left"
                       style="border: none; padding: 0in; font-weight: normal; orphans: 2; widows: 2">
                        <br />

                    </p>
                </td>
                <td width="132" bgcolor="#ffffff"
                    style="border-top: 0.75pt solid #dddddd; border-bottom: 0.75pt solid #dddddd; border-left: 0.75pt solid #dddddd; border-right: 0.75pt solid #dddddd; padding-top: 0.08in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p class="western" align="left" style="border: none; padding: 0in; orphans: 2; widows: 2">
                        REFRESH_TOKEN</p>
                </td>
                <td width="535" bgcolor="#ffffff"
                    style="border-top: 0.75pt solid #dddddd; border-bottom: 0.75pt solid #dddddd; border-left: 0.75pt solid #dddddd; border-right: 0.75pt solid #dddddd; padding-top: 0.08in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p class="western" align="left"
                       style="border-top: none; border-bottom: none; border-left: none; padding: 0in; orphans: 2; widows: 2">
                        Stores the refresh token for the session.</p>
                </td>
            </tr>
        </table>
        <h2 class="western" align="left"
            style="margin-top: 0.21in; margin-bottom: 0.11in; border: none; padding: 0in; line-height: 110%; orphans: 0; widows: 0">
            <a name="h.82r9t821stdd"></a>
            <font color="#333333"><font size="6" style="font-size: 22pt">How do I
                                                                         control my cookies?</font></font></h2>
        <p class="western" align="left"
           style="margin-bottom: 0.11in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
            <font color="#333333"><font size="2" style="font-size: 10pt">Most
                                                                         browsers allow you to control cookies through
                                                                         their settings
                                                                         preferences. However, if you limit the given
                                                                         ability for websites to
                                                                         set cookies, you may worsen your overall user
                                                                         experience since it
                                                                         will no longer be personalized to you. It may
                                                                         also stop you from
                                                                         saving customized settings such as login
                                                                         information.</font></font></p>
        <p class="western" align="left"
           style="margin-bottom: 0.11in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
            <font color="#333333"><font size="2" style="font-size: 10pt">Most
                                                                         likely, disabling cookies will make you unable
                                                                         to use authentication
                                                                         and authorization functionalities offered by
                                                                         WSO2 SP 4.2.0.</font></font></p>
        <p class="western" align="left"
           style="margin-bottom: 0.11in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
            <font color="#333333"><font size="2" style="font-size: 10pt">If you
                                                                         have any questions or concerns regarding the
                                                                         use of cookies, please
                                                                         contact the entity or individuals (or their
                                                                         data protection officer,
                                                                         if applicable) running this WSO2 SP 4.2.0
                                                                         instance.</font></font></p>
        <h2 class="western" align="left"
            style="margin-top: 0.21in; margin-bottom: 0.11in; border: none; padding: 0in; line-height: 110%; orphans: 0; widows: 0">
            <a name="h.3k00q32hecnb"></a>
            <font color="#333333"><font size="6" style="font-size: 22pt">Disclaimer</font></font></h2>
        <p class="western" align="left"
           style="margin-bottom: 0.11in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
            <font color="#333333"><font size="2" style="font-size: 10pt">This
                                                                         cookie policy is only for illustrative purposes
                                                                         of the product WSO2
                                                                         SP 4.2.0. The content in the policy is
                                                                         technically correct at the
                                                                         time of the product shipment. The organization
                                                                         which runs this WSO2
                                                                         SP 4.2.0 instance has full authority and
                                                                         responsibility with regard
                                                                         to the effective Cookie Policy. WSO2, its
                                                                         employees, partners, and
                                                                         affiliates do not have access to and do not
                                                                         require, store, process
                                                                         or control any of the data, including personal
                                                                         data contained in WSO2
                                                                         ISP 4.2.0. All data, including personal data is
                                                                         controlled and
                                                                         processed by the entity or individual running
                                                                         WSO2 SP 4.2.0. WSO2,
                                                                         its employees partners and affiliates are not a
                                                                         data processor or a
                                                                         data controller within the meaning of any data
                                                                         privacy regulations.
                                                                         WSO2 does not provide any warranties or
                                                                         undertake any responsibility
                                                                         or liability in connection with the lawfulness
                                                                         or the manner and
                                                                         purposes for which WSO2 SP 4.2.0 is used by
                                                                         such entities or persons.
            </font></font>
        </p>
        <p class="western" align="left"
           style="margin-bottom: 0in; border: none; padding: 0in; font-weight: normal; line-height: 115%; orphans: 2; widows: 2">
            <br />

        </p>
        <p class="western" align="left"
           style="margin-bottom: 0in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
            <br />
            <br />

        </p>
        <p class="western" align="left"
           style="margin-bottom: 0in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
            <br />

        </p>
    </section>
</div>
<a href="{{@contextPath}}/" class="back"><i class="fw fw-left-arrow"></i> Back</a>
</body>
</html>
