<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width'>
    <title>WSO2 Stream Processor</title>
    <link rel="stylesheet" type="text/css"
          href="{{@contextPath}}/public/app/js/libs/font-wso2_1.0.0/css/font-wso2.min.css" />
    <link rel="stylesheet" type="text/css" href="{{@contextPath}}/public/app/css/styles.css" />
    <link rel="shortcut icon" href="{{@contextPath}}/public/app/images/favicon.ico" type="image/x-icon" />

</head>
<body>
<div>
    <header>
        <a href="{{@contextPath}}/" style="text-decoration: none; color: #fff;">
            <img src="{{@contextPath}}/public/app/images/wso2-logo.svg" height="17" />
            <h1>WSO2 Stream Processor</h1>
        </a>
    </header>

    <section class="main-content policies-landing">
        <h1>Policies</h1>
        <div class="container">
            <a href="{{@contextPath}}/privacy-policy">
                <div class="link-wrap">
                    <i class="fw fw-policy"></i>
                    <span class="text">Privacy Policy</span>
                </div>
            </a>
            <a href="{{@contextPath}}/cookie-policy">
                <div class="link-wrap">
                    <i class="fw fw-policy"></i>
                    <span class="text">Cookie Policy</span>
                </div>
            </a>
        </div>
    </section>
</div>
</body>
</html>
