<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width'>
    <title>Privacy Policy | WSO2 Stream Processor</title>
    <link rel="stylesheet" type="text/css"
          href="{{@contextPath}}/public/app/js/libs/font-wso2_1.0.0/css/font-wso2.min.css" />
    <link rel="stylesheet" type="text/css" href="{{@contextPath}}/public/app/css/styles.css" />
    <link rel="shortcut icon" href="{{@contextPath}}/public/app/images/favicon.ico" type="image/x-icon" />

</head>
<body>
<div>
    <header>
        <a href="{{@contextPath}}/" style="text-decoration: none; color: #fff;">
            <img src="{{@contextPath}}/public/app/images/wso2-logo.svg" height="17" />
            <h1>WSO2 Stream Processor</h1>
        </a>
    </header>

    <section class="main-content">
        <h4 class="western" align="left"
            style="margin-top: 0.11in; margin-bottom: 0.11in; border: none; padding: 0in; line-height: 110%; orphans: 0; widows: 0">
            <a name="h.tzytmzy4gjlh"></a>
            <font color="#1155cc"><font size="3" style="font-size: 13pt"><u><b><a href="https://wso2.com/analytics">About</a><a
                    href="https://wso2.com/analytics">
            </a><a href="https://wso2.com/analytics">WSO</a><a href="https://wso2.com/analytics">2
            </a><a href="https://wso2.com/analytics">Stream</a><a href="https://wso2.com/analytics">
            </a><a href="https://wso2.com/analytics">Processor</a></b></u></font></font></h4>
        <p class="western" align="left"
           style="margin-bottom: 0.11in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
            <font color="#333333"><font size="2" style="font-size: 10pt">WSO2
                                                                         Stream Processor (referred to as “WSO2 SP
                                                                         4.2.0” within this
                                                                         policy) is an open source stream processing
                                                                         application that is based
                                                                         on open standards and
                                                                         specifications.</font></font></p>
        <h2 class="western" align="left"
            style="margin-top: 0.21in; margin-bottom: 0.11in; border: none; padding: 0in; line-height: 110%; orphans: 0; widows: 0">
            <a name="h.2i3lluf9dhey"></a>
            <font color="#333333"><font size="6" style="font-size: 22pt"><b>Privacy
                                                                            Policy</b></font></font></h2>
        <p class="western" align="left"
           style="margin-bottom: 0.11in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
            <font color="#333333"><font size="2" style="font-size: 10pt">This
                                                                         policy describes how WSO2 SP 4.2.0 captures
                                                                         your personal
                                                                         information, the purposes of collection, and
                                                                         information about the
                                                                         retention of your personal information.</font></font>
        </p>
        <p class="western" align="left"
           style="margin-bottom: 0.11in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
            <font color="#333333"><font size="2" style="font-size: 10pt">Please
                                                                         note that this policy is for reference only,
                                                                         and is applicable for
                                                                         the software as a product. WSO2 Inc. and its
                                                                         developers have no
                                                                         access to the information held within WSO2 SP
                                                                         4.2.0. Please see the
            </font></font><a href="#disclaimer"><font
                color="#337ab7"><font size="2" style="font-size: 10pt"><u>Disclaimer</u></font></font></a><font
                color="#333333"><font size="2" style="font-size: 10pt">
            section for more information. Entities, organisations or individuals
            controlling the use and administration of WSO2 SP 4.2.0 should create
            their own privacy policies setting out the manner in which data is
            controlled or processed by the respective entity, organisation or
            individual.</font></font></p>
        <h2 class="western" align="left"
            style="margin-top: 0.21in; margin-bottom: 0.11in; border: none; padding: 0in; line-height: 110%; orphans: 0; widows: 0">
            <a name="h.vwd96hi3iaxh"></a>
            <font color="#333333"><font size="6" style="font-size: 22pt">What is
                                                                         personal information?</font></font></h2>
        <p class="western" align="left"
           style="margin-bottom: 0.11in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
            <font color="#333333"><font size="2" style="font-size: 10pt">WSO2 SP
                                                                         4.2.0 considers anything related to you and by
                                                                         which you may be
                                                                         identified as your personal information. This
                                                                         includes, but is not
                                                                         limited to:</font></font></p>
        <ul>
            <li />
            <p class="western" align="left"
               style="margin-bottom: 0in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
                <font color="#333333"><font size="2" style="font-size: 10pt">Your
                                                                             user name (except in cases where the user
                                                                             name created by your
                                                                             employer is under contract)</font></font>
            </p>
            <li />
            <p class="western" align="left"
               style="margin-bottom: 0in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
                <font color="#333333"><font size="2" style="font-size: 10pt">Your
                                                                             date of birth/age</font></font></p>
            <li />
            <p class="western" align="left"
               style="margin-bottom: 0in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
                <font color="#333333"><font size="2" style="font-size: 10pt">IP
                                                                             address used to log in</font></font></p>
            <li />
            <p class="western" align="left"
               style="margin-bottom: 0in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
                <font color="#333333"><font size="2" style="font-size: 10pt">Your
                                                                             device ID if you use a device (e.g., phone
                                                                             or tablet) to log in</font></font></p>
        </ul>
        <p class="western" align="left"
           style="margin-bottom: 0.11in; border: none; padding: 0in; font-weight: normal; line-height: 115%; orphans: 2; widows: 2">
            <br />
            <br />

        </p>
        <p class="western" align="left"
           style="margin-bottom: 0.11in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
            <font color="#333333"><font size="6" style="font-size: 22pt">How does
                                                                         WSO2 SP 4.2.0 collect personal
                                                                         information?</font></font></p>
        <p class="western" align="left"
           style="margin-bottom: 0.11in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
            <font color="#333333"><font size="2" style="font-size: 10pt">WSO2 SP
                                                                         4.2.0 collects your login details to serve your
                                                                         access requirements. </font></font>
        </p>
        <p class="western" align="left"
           style="margin-bottom: 0.11in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
            <font color="#333333"><font size="2" style="font-size: 10pt">In
                                                                         addition, the information sent to WSO2 SP 4.2.0
                                                                         by your organization
                                                                         to be processed may include personal
                                                                         information. This information is not retained unless
                                                                         WSO2 SP 4.2.0 is
                                                                         specifically configured by server
                                                                         administrators to store that
                                                                         information in databases based on the client
                                                                         requirement.</font></font></p>
        <p class="western" align="left"
           style="margin-bottom: 0.11in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
            <font color="#333333"><font size="2" style="font-size: 10pt">WSO2
                                                                         strongly recommends you to verify whether the
                                                                         information you request
                                                                         to store in databases for the purpose of
                                                                         processing include personal
                                                                         information, and if it does, to use the data
                                                                         obfuscation/removal
                                                                         methods supported by WSO2 SP 4.2.0 to
                                                                         hide/delete that information
                                                                         once it is processed.</font></font></p>
        <p class="western" align="left"
           style="margin-bottom: 0.11in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
            <font color="#333333"><font size="2" style="font-size: 10pt">WSO2 SP
                                                                         4.2.0 also records the time of the day you
                                                                         logged in (year, month,
                                                                         week, hour or minute) for the purpose of
                                                                         processing the streaming
                                                                         data it handles when it needs to be analyzed
                                                                         based on time.</font></font></p>
        <h3 class="western" align="left"
            style="margin-top: 0.21in; margin-bottom: 0.11in; border: none; padding: 0in; line-height: 110%; orphans: 0; widows: 0">
            <a name="h.1nhtbzwjoipj"></a>
            <font color="#333333"><font size="5" style="font-size: 18pt">Tracking
                                                                         Technologies</font></font></h3>
        <p class="western" align="left"
           style="margin-bottom: 0.11in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
            <font color="#333333"><font size="2" style="font-size: 10pt">WSO2 SP
                                                                         4.2.0 collects your information
                                                                         by:</font></font></p>
        <ul>
            <li />
            <p class="western" align="left"
               style="margin-bottom: 0in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
                <font color="#333333"><font size="2" style="font-size: 10pt">Tracking
                                                                             your IP address with HTTP request, HTTP
                                                                             headers, and TCP/IP.</font></font></p>
            <li />
            <p class="western" align="left"
               style="margin-bottom: 0in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
                <font color="#333333"><font size="2" style="font-size: 10pt">Tracking
                                                                             your login history with browser cookies.
                                                                             Please see our </font></font><font
                    color="#337ab7"><font size="2" style="font-size: 10pt"><u><a
                    href="{{@contextPath}}/cookie-policy">cookie</a><a
                    href="{{@contextPath}}/cookie-policy">
            </a><a href="{{@contextPath}}/cookie-policy">policy</a></u></font></font><font
                    color="#333333"><font size="2" style="font-size: 10pt">
                for more information.</font></font></p>
        </ul>
        <h2 class="western" align="left"
            style="margin-top: 0.21in; margin-bottom: 0.11in; border: none; padding: 0in; line-height: 110%; orphans: 0; widows: 0">
            <a name="h.irk6sufi9oeg"></a>
            <font color="#333333"><font size="6" style="font-size: 22pt">Use of
                                                                         personal information</font></font></h2>
        <p class="western" align="left"
           style="margin-bottom: 0.11in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
            <font color="#333333"><font size="2" style="font-size: 10pt">WSO2 SP
                                                                         4.2.0 uses the following personal information
                                                                         only to protect your
                                                                         account from unauthorized access or potential
                                                                         hacking attempts.:</font></font></p>
        <ul>
            <li />
            <p class="western" align="left"
               style="margin-bottom: 0in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
                <font color="#333333"><font size="2" style="font-size: 10pt">IP
                                                                             address</font></font></p>
            <li />
            <p class="western" align="left"
               style="margin-bottom: 0in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
                <font color="#333333"><font size="2" style="font-size: 10pt">Browser
                                                                             fingerprinting</font></font></p>
            <li />
            <p class="western" align="left"
               style="margin-bottom: 0in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
                <font color="#333333"><font size="2" style="font-size: 10pt">Cookies</font></font></p>
        </ul>
        <p class="western" align="left"
           style="margin-bottom: 0.11in; border: none; padding: 0in; font-weight: normal; line-height: 115%; orphans: 2; widows: 2">
            <br />
            <br />

        </p>
        <h2 class="western" align="left"
            style="margin-top: 0.21in; margin-bottom: 0.11in; border: none; padding: 0in; line-height: 110%; orphans: 0; widows: 0">
            <a name="h.y4mn4shmam6b"></a>
            <font color="#333333"><font size="6" style="font-size: 22pt">Disclosure
                                                                         of personal information</font></font></h2>
        <p class="western" align="left"
           style="margin-bottom: 0.11in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
            <font color="#333333"><font size="2" style="font-size: 10pt">Please
                                                                         note that the organisation, entity or
                                                                         individual running WSO2 SP
                                                                         4.2.0 may be compelled to disclose your
                                                                         personal information with or
                                                                         without your consent when it is required by law
                                                                         following due and
                                                                         lawful process.</font></font></p>
        <h1 class="western" align="left"
            style="border: none; padding: 0in; line-height: 115%; page-break-inside: avoid; orphans: 0; widows: 0; page-break-after: avoid">
            <a name="h.pzeoqn24y8bn"></a>
            How to request the removal of personal information</h1>
        <p class="western" align="left"
           style="margin-bottom: 0.11in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
            <font color="#333333"><font size="2" style="font-size: 10pt">If you,
                                                                         as a user of WSO2 SP 4.2.0 submit personal
                                                                         information relating to
                                                                         yourself or another party to WSO2 SP 4.2.0, you
                                                                         can use the data
                                                                         removal/obfuscation features supported by the
                                                                         product to hide/remove
                                                                         that information.</font></font></p>
        <p class="western" align="left"
           style="margin-bottom: 0.11in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
            <font color="#333333"><font size="2" style="font-size: 10pt">If your
                                                                         personal information is submitted to WSO2 SP
                                                                         4.2.0 by your
                                                                         organization or another third party, request
                                                                         that party to
                                                                         hide/delete that information.</font></font></p>
        <h2 class="western" align="left"
            style="margin-top: 0.21in; margin-bottom: 0.11in; border: none; padding: 0in; line-height: 110%; orphans: 0; widows: 0">
            <a name="h.qk4y4bog6j57"></a>
            <font color="#333333"><font size="6" style="font-size: 22pt">More
                                                                         information</font></font></h2>
        <h3 class="western" align="left"
            style="margin-top: 0.21in; margin-bottom: 0.11in; border: none; padding: 0in; line-height: 110%; orphans: 0; widows: 0">
            <a name="h.vaqc3cb2l3x1"></a>
            <font color="#333333"><font size="5" style="font-size: 18pt">Changes
                                                                         to this policy</font></font></h3>
        <p class="western" align="left"
           style="margin-bottom: 0.11in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
            <font color="#333333"><font size="2" style="font-size: 10pt">Upgraded
                                                                         versions of WSO2 SP 4.2.0 may contain changes
                                                                         to this policy and
                                                                         revisions to this policy will be packaged
                                                                         within such upgrades. Such
                                                                         changes would only apply to users who choose to
                                                                         use upgraded
                                                                         versions. </font></font>
        </p>
        <p class="western" align="left"
           style="margin-bottom: 0.11in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
            <font color="#333333"><font size="5" style="font-size: 18pt">Your
                                                                         choices</font></font></p>
        <p class="western" align="left"
           style="margin-bottom: 0.11in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
            <font color="#333333"><font size="2" style="font-size: 10pt">If your
                                                                         data is already published to WSO2 SP
                                                                         4.2.0 ; you have the
                                                                         right to deactivate your account if you find
                                                                         that this privacy policy
                                                                         is unacceptable to you.</font></font></p>
        <p class="western" align="left"
           style="margin-bottom: 0.11in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
            <font color="#333333"><font size="2" style="font-size: 10pt">If you
                                                                         do not have an account and you do not agree
                                                                         with our privacy policy,
                                                                         you can chose not to create one.</font></font>
        </p>
        <h3 class="western" align="left"
            style="margin-top: 0.21in; margin-bottom: 0.11in; border: none; padding: 0in; line-height: 110%; orphans: 0; widows: 0">
            <a name="h.1bzkk65w1iq8"></a>
            <font color="#333333"><font size="5" style="font-size: 18pt">Contact
                                                                         us</font></font></h3>
        <p class="western" align="left"
           style="margin-bottom: 0.11in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
            <font color="#333333"><font size="2" style="font-size: 10pt">Please
                                                                         contact WSO2 if you have any question or
                                                                         concerns regarding this
                                                                         privacy policy.</font></font></p>
        <p class="western" align="left"
           style="margin-bottom: 0.11in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
            <font color="#337ab7"><font size="2" style="font-size: 10pt"><u><a
                    href="https://wso2.com/contact/">https</a><a href="https://wso2.com/contact/">://</a><a
                    href="https://wso2.com/contact/">wso</a><a href="https://wso2.com/contact/">2.</a><a
                    href="https://wso2.com/contact/">com</a><a href="https://wso2.com/contact/">/</a><a
                    href="https://wso2.com/contact/">contact</a><a
                    href="https://wso2.com/contact/">/</a></u></font></font></p>
        <h2 class="western" align="left"
            style="margin-top: 0.21in; margin-bottom: 0.11in; border: none; padding: 0in; line-height: 110%; orphans: 0; widows: 0">
            <a name="disclaimer"></a>
            <font color="#333333"><font size="6" style="font-size: 22pt">Disclaimer</font></font></h2>
        <ol>
            <li />
            <p class="western" align="left"
               style="margin-bottom: 0in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
                <font color="#333333"><font size="2" style="font-size: 10pt">WSO2,
                                                                             its employees, partners, and affiliates do
                                                                             not have access to and do
                                                                             not require, store, process or control any
                                                                             of the data, including
                                                                             personal data contained in WSO2 SP 4.2.0.
                                                                             All data, including
                                                                             personal data is controlled and processed
                                                                             by the entity or
                                                                             individual running WSO2 SP 4.2.0. WSO2, its
                                                                             employees partners and
                                                                             affiliates are not a data processor or a
                                                                             data controller within the
                                                                             meaning of any data privacy regulations.
                                                                             WSO2 does not provide any
                                                                             warranties or undertake any responsibility
                                                                             or liability in
                                                                             connection with the lawfulness or the
                                                                             manner and purposes for which
                                                                             WSO2 SP 4.2.0 is used by such entities or
                                                                             persons. </font></font>
            </p>
        </ol>
        <p class="western" align="left"
           style="margin-bottom: 0in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
            <font color="#333333"><font size="2" style="font-size: 10pt">This
                                                                         privacy policy is for the informational
                                                                         purposes of the entity or
                                                                         persons running WOS2 SP 4.2.0 and sets out the
                                                                         processes and
                                                                         functionality contained within WSO2 SP 4.2.0
                                                                         regarding personal data
                                                                         protection. It is the responsibility of
                                                                         entities and persons running
                                                                         WSO2 SP 4.2.0 to create and administer its own
                                                                         rules and processes
                                                                         governing users’ personal data, and such rules
                                                                         and processes may
                                                                         change the use, storage and disclosure policies
                                                                         contained herein.
                                                                         Therefore users should consult the entity or
                                                                         persons running WSO2 SP
                                                                         4.2.0 for its own privacy policy for details
                                                                         governing users’
                                                                         personal data. </font></font>
        </p>
        <p class="western" align="left"
           style="margin-bottom: 0in; border: none; padding: 0in; line-height: 115%; orphans: 2; widows: 2">
            <br />

        </p>
    </section>
</div>
<a href="{{@contextPath}}/" class="back"><i class="fw fw-left-arrow"></i> Back</a>
</body>
</html>
